<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTcjAptFUS8ws15GS1loSur_M_PulpjAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>775234155731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookTracker</string>
	<key>PROJECT_ID</key>
	<string>booktracker-40157</string>
	<key>STORAGE_BUCKET</key>
	<string>booktracker-40157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775234155731:ios:e2f716abbc3f5d1a335026</string>
</dict>
</plist>